{% extends "base.html" %}
{% block 'body' %}
    <!-- Main container to center the content -->
    <div class="max-w-7xl mx-auto mt-12">
        <!-- Greeting Section -->
        <div class="mx-auto max-w-2xl text-center">
            <!-- Display the guest's name -->
            <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Hello, {{convidado.nome_convidado}}</h2>
            
            <!-- If the guest's status is 'AC', show confirmation options -->
            {% if convidado.status == 'AC' %}
                <p class="mt-2 text-lg leading-8 text-gray-600">
                    Confirm your attendance at the wedding: 
                    <a href="{% url 'responder_presenca' %}?resposta=C&token={{convidado.token}}" class="text-green-400">confirm</a>, 
                    <a href="{% url 'responder_presenca' %}?resposta=R&token={{convidado.token}}" class="text-red-400">decline</a>
                </p>
            {% endif %}
        </div>
        <br>
        <hr>

        <!-- Main grid layout: Presents on the left, companions on the right -->
        <div class="grid grid-cols-2 gap-4">
            <div>
                <!-- Section to choose a gift -->
                <p class="mt-2 text-lg leading-8 text-gray-600">Choose a gift for the couple</p>
                <div class="grid grid-cols-3 mt-4 gap-4">
                    {% for presente in presentes %}
                        <div>
                            <!-- Show the gift's image if available -->
                            {% if presente.foto %}
                            <img class="aspect-[3/2] w-full rounded-2xl object-cover" src="{{presente.foto.url}}" alt="">
                            {% endif %}
                            <!-- Display the gift's name -->
                            <h3 class="mt-2 text-lg font-semibold leading-8 text-gray-900">{{presente.nome_presente}}</h3>
                            
                            <!-- Importance level of the gift -->
                            {% if presente.importancia <= 2 %}
                                <span class="inline-flex items-center rounded-md bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 ring-1 ring-inset ring-green-400/30">Low importance</span>
                            {% elif presente.importancia < 4 %}
                                <span class="inline-flex items-center rounded-md bg-orange-400/10 px-2 py-1 text-xs font-medium text-orange-400 ring-1 ring-inset ring-orange-400/30">Important</span>
                            {% else %}
                                <span class="inline-flex items-center rounded-md bg-red-400/10 px-2 py-1 text-xs font-medium text-red-400 ring-1 ring-inset ring-red-400/30">Highly important</span>
                            {% endif %}
                            
                            <!-- Button to reserve the gift -->
                            <a href="{% url 'reservar_presente' presente.id %}?token={{token}}" class="rounded-md block w-full mt-4 bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400 cursor-pointer">Reserve</a>                                     
                        </div>
                    {% endfor %}
                </div>
            </div>           
{% endblock %}
